<%= simple_form_for @note, html: {multipart: true} do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.input :title, input_html: { class: 'input-block-level' } %>
  </div>
  <div class="field">
    <%= f.input :summary, input_html: { class: 'redactor' } %>
  </div>
  <div class="field">
    <%= f.input :body, input_html: { class: 'redactor' } %>
  </div>
  <%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] } %>
  <div class="field">
    <%= f.input :section, collection: [["col izquierda", "1"], ["col central", "2"], ["col derecha", "3"]], as: :select, include_blank: false, wrapper_html: { class: 'inline' } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>