<table class="datatable table-bordered table-striped">
  <thead>
    <tr>
      <th>Columna</th>
      <th>Posicion</th>
      <th>Titulo</th>
      <th>Sumario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td>
          <% case note.section
             when 1
              section = "izquierda"
             when 2
              section = "central"
             when 3
              section = "derecha"
             end
           %>
          <%= section %>
        </td>
        <td><%= note.position %></td>
        <td><%= note.title %></td>
        <td><%= note.summary.html_safe %></td>
        <td><%= link_to 'Show', note %>|<%= link_to 'Edit', edit_note_path(note) %>|<%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Note', new_note_path %>
