<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @note.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @note.subtitle %>
</p>

<p>
  <b>Body:</b>
  <%= @note.body %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', root_path %>
